@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

   @using (Html.BeginForm("NewTaxonCreation", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "well form-horizontal" }))
   {
    <fieldset>


        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Sci Name</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="SciName" placeholder="Sci Name" class="form-control" type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Taxonomy Order</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input name="TaxonOrder" placeholder="Taxonomy Order" class="form-control" type="text">
                </div>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label">Genus Name</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                    <input name="Genus_Name" placeholder="Genus Name" class="form-control" type="text">
                </div>
            </div>
        </div>


        <!-- Text input-->

        <div class="form-group">
            <label class="col-md-4 control-label">Family Name</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input name="FamilyName" placeholder="Family Name" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label">Order Name</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input name="OrderName" placeholder="Order Name" class="form-control" type="text">
                </div>
            </div>
        </div>
    


        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button>
            </div>
        </div>

    </fieldset>
   }
</div>
    </div>